body{
    font-family: "Montserrat", sans-serif;
    margin: 0px;
    color: #ffffff;
    background-color: #000000;
    overflow: hidden;
  }

  .main{
    display: flex;
    height: 100vh;
    padding: 0.5rem;
  }
  .nav{
    display: flex;
    justify-content:center;
    align-items: center;
    padding: 0.5rem 0.5rem;
    
      position: fixed;
      top: 0;
      width: 100%;
      height: 45px;
  
  }
 
.sidebar{
    background-color: #000000;
    /* width:340px */
    flex: 1.5;
    border-radius : 1rem;  /*  1rem=16px */
    margin-right: 0.5rem;
    margin-top: 3.0rem;
    
}
.main-content{
    background-color:#121212;
    flex: 3;
    border-radius: 1rem;
    overflow: auto;
    padding: 0 1.5rem 1.5rem 1.5rem;
    margin-top: 3.5rem;
}
.music-player{
    background-color: #000000;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 87px;

}
a{
  text-decoration: none;
  color: #ffffff;

}

.navbar{
  display: flex;
  position: relative;
  left: -150px;
}

.sticky-nav{
 
  display: flex;
  justify-content:space-evenly;
  align-items: center;
  padding: 1rem 0 1rem 0;
}

.nav-item{
  margin-right: 1rem;
  opacity: 0.7;
}
.nav-item:hover{
  opacity: 1;
  
}

.nav-option{
     line-height: 2.5rem;
     opacity: 0.8;
     padding: 0.12rem 0.5rem;
     margin-right: 0.5rem;
     display: flex;
     justify-content: center;
     align-items: center;
    
}
.nav-option:hover{
  opacity: 1;
}
.bg{
  background-color: #232323;
  border-radius: 50px;
 
}
.search{
  width: 450px;
  display: flex;
  justify-content: space-between;
}
.badge{
  background-color: #ffffff;
  border: none;
  border-radius: 100px;
  padding: 0.5rem 1rem;
  font-weight: 900;
  margin-top: 0.5rem;
  /* height: 2rem; */
  width: fit-content;
}

.dark-badge{
  background-color: #000;
  color: #ffffff;
}


.nav-option i{
  font-size: 1.5rem;
}

.nav-option a{
  font-size: 1rem;
  margin-left: 1rem;
}

.library{
  background-color: #121212;
  border-radius: 1rem;
  height:100%;
  margin-top: 0.5rem;
  padding: 0.5rem 0.7rem;
}
.options{
  display: flex;
 justify-content: space-between;
 align-items: center;
}
.lib-option img{
  height: 1.7rem;
  width: 1.7rem;
 
}
.icons{
  font-size: 1.25rem;
  display: flex;
}

.icons i{
  opacity: 0.7;
  margin-right: 1rem;
}

.icons i:hover{
  opacity: 1;
}

.box{
  background-color: #232323;
  height: 8rem ;
  border-radius: 0.75rem;
  margin: 0.75rem 0 1.75rem 0;
  padding: 0.75rem 1rem;
}

.box-p1{
  font-size: 1rem;
  font-weight: 700;
}
.box-p2{
  font-size: 0.75rem;
  opacity: 1;
}


.card{
  /* background-color: #232323; */
  width:150px ;
  border-radius: 0.5rem;
  padding: 1rem;
  margin-left: 0.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.card:hover{
  background-color: #232323
}

.cards-container{
  display: flex;
  flex-wrap: wrap;
}

.card-img{
  width: 100%;
  border-radius: 0.5rem;
}

.card-title{
  font-weight: 600;
}

.card-info{
  font-size: 0.76rem;
  opacity: 0.8;
}
.footer{
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.line{
  width: 90%;
  height: 50%;
  border-top: 1px solid white;
  opacity: 0.5;
}
.music-player{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.album{
  width: 25%;
  display: flex;
  flex-direction: row;
  justify-content:center ;
  align-items: center;

}
.player{
  width: 50%;
}
.controls{
  width: 25%;
  display: flex;
  justify-content:space-between ;
  align-items: center;
  
  margin-right:1.5rem;
}
.player-controls{
  display: flex;
  justify-content:center ;
  align-items: center;
}
.controls-icon{
  height: 1rem;
  margin-right: 1.5rem;
  opacity: 0.7; 
  font-size: 1.2rem;
}
.controls-icon:hover{
 opacity: 1;
}
.playback-bar{
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.progress-bar{
  width: 70%;
  appearance: none;
  background-color: transparent;
  cursor: pointer;
}
.progress-bar::-webkit-slider-runnable-track{
  background-color: #ddd;
  border-radius: 100px;
  height: 0.2rem;
}
.progress-bar::-webkit-slider-thumb{
  appearance: none;
  height: 1rem;
  width: 1rem;
  background-color: #1bd760;
  border-radius: 50%;
  margin-top: -6px;
}
.in-album img{
height: 55px;
width: 55px;
margin:0.9rem ;
border-radius: 2px;
}
.title-song{
  margin-right: 1rem;
}
.album-title{
  font-size: 0.8rem;
  font-weight: 600;
}
.singer{
  font-size: 0.7rem;
  margin-top: -0.8rem;
}
.add{
  opacity: 0.7;
}
.add:hover{
opacity: 1;
}

.volume{
  width: 30%;
}
.crl{
  opacity: 0.7;
}
.crl:hover{
  opacity: 1;
  font-size:17px;
}
